@import "tailwindcss";
@import "tw-animate-css";

:root {
	--radius: 0.75rem;

	--background: var(--color-zinc-950);
	--foreground: var(--color-zinc-50);
	--primary: var(--color-emerald-500);
	--primary-foreground: var(--color-zinc-50);
	--primary-text: var(--color-emerald-400);
	--primary-alt: var(--color-teal-500);
	--primary-alt-foreground: var(--color-zinc-50);
	--primary-alt-text: var(--color-teal-400);
	--destructive: var(--color-red-500);
	--destructive-foreground: var(--color-zinc-50);
	--destructive-text: var(--color-red-400);
	--muted: var(--color-zinc-500);
	--card: color-mix(in oklch, var(--color-white) 5%, transparent);
	--border: color-mix(in oklch, var(--color-white) 10%, transparent);
	--ring: var(--color-emerald-500);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary-text: var(--primary-text);
	--color-primary-alt: var(--primary-alt);
	--color-primary-alt-foreground: var(--primary-alt-foreground);
	--color-primary-alt-text: var(--primary-alt-text);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-destructive-text: var(--destructive-text);
	--color-muted: var(--muted);
	--color-card: var(--card);
	--color-border: var(--border);
	--color-ring: var(--ring);

	--font-inter: var(--font-inter);

	--tw-duration: 300ms;
}

@layer base {
	* {
		scrollbar-width: none;
		-ms-overflow-style: none;
		@apply border-border
		selection:bg-primary/80;
	}

	*::-webkit-scrollbar {
		display: none;
	}

	body {
		@apply w-screen min-h-dvh relative
		bg-background
		text-foreground
		antialiased;
	}
}
